.ProfileInfo {
    display: flex;
    flex-direction: column;
}
.ProfileInfo__description {
    font-size: 24px;
    margin-top: 5px;
}
.ProfileInfo__avatarImg {
    width: 200px;
    height: 200px;
}