.Header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    grid-area: header;
    padding: 14px;
}

.Header__logo {
    color: black;
    font-size: 20px;
}

.Header__logo:hover {
    cursor: pointer;
}

.Header__login {
    text-decoration: none;
    color: black;
}